/* General CSS */
body {
    background-image: url(./images/space-background-with-stars-vector-illustration_97886-319.avif);
    font-family: 'Star Wars', sans-serif;
}
.hide{

    display: none;
}
/* Header */
h1 {
    color: yellow;
    display: inline;
    padding: 8px;
}
header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}
.title {
    text-align: center;
    font-size: 5em;
}
/* Main CSS Styling and Positioning */
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#divContainer{
    
    min-height: 375px;
    text-align: center;
    color: yellow;
    
}
.saveCharacterDiv{
    display: flex;
    justify-content: center;
}
/* Button Styling */
.btn {
    background-color: yellow;
    font-weight: bold;
    font-size: 32px;
    margin: 0 auto
}

button {
    background-color: yellow;
    width: 75%;
    margin-top: 16px;
}

.saveCharacterButton {
    padding: 16px;
    font-size: 24px;
}

/* Media queries */
/* Small phones */
@media only screen and (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
      }
    body {
      display: flex;
      flex-direction: column;
    }
  }
  
  /* Medium phones */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
      }
    body {
      display: flex;
      flex-direction: column;
    }
  }
  
  /* Large phones */
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    header {
        display: flex;
        flex-direction: column;
      }
    body {
      display: flex;
      flex-direction: column;
    }
  }
  
  /* Extra-large phones */
  @media only screen and (min-width: 993px) and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
      }
    body {
      display: flex;
      flex-direction: column;
    }
  }
  
  /* iPad portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    header {
        display: flex;
        flex-direction: column;
      }
    body {
      display: flex;
      flex-direction: column;
    }
  }